// header
header.header#header
	.wrapper
		.logo-container
			a(href="#").logo интернет-магазин светильников с доставкой по России
		.login-cart
			.login
				ul.login_list
					li 
						a(href="#") Вход
					li 
						a(href="#") Регистрация
			.carts
				ul.carts_list
					li
						a(href="#").carts_compare
					li
						a(href="#").carts_like
					li.carts_item-cart
						a(href="#").carts_cart 1 товар
							span 9890 руб
		.contacts-search
			.contacts
				ul.contacts_list
					li 
						a(href="tel: +74953088296") 8 (495) 308-82-96
						span.popap-btn 
							span Заказать звонок
					li 
						a(href="tel: +78001005508") 8 (800) 100-55-08
							span.popap-btn 
								span.popap-btn--margin Звонок бесплатный
					li 
						a(href="mailto: info@lustram.ru") info@lustram.ru
						span.popap-btn 
							span Пишите нам
					li Режим работы:<br>8:00 - 23:00 
						span ежедневно
			form.search
				input(type="text" placeholder="Более 35 000 товаров")
				button.icon-search
// /header

//- 			// menu
//- 			//- .menu--left .menu--right .menu--top .menu--bottom .menu--drop
//- 			.menu.menu--left#menu
//- 				button.menuBtn.hamburger.hamburger--vortex(type="button")
//- 					span.hamburger-box
//- 						span.hamburger-inner
//- 				nav.menu_nav
//- 					ul.menu_list
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 1
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 2
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 3
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 4
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 5
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 6
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 7
//- 						li.menu_item
//- 							a(href="#").menu_link Меню 8
//- 				.menu_over
//- 			// /menu